*{
    margin:0;
    padding:0;

}
body{
    background-color: rgb(233, 239, 250);
    font-family: 'Quicksand', sans-serif;
}
h1, h2, h5{
    font-family: 'Bree Serif', serif;
} 
div{
    width: 70%;
    height: 200px;
    margin: 20px;
    padding:20px
}
.grad1{
    background-color: #7ee8fa;
    height: auto;
    background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
}
.grad2{
    background-image: url("fondo.jpg");
    color: white;
}
.grad3{
    background-color: cadetblue;
    color:cyan
}
.grad4{
    background-image: url("pattern1.png");

 
}